.SelectorFecha {
  width: 100%;
  height: 3.5em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: transparent;
}

.SelectorFecha__contenedor_rango {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 2em;
  background-color: #212121;
  padding: .5em 1em .5em 0em;
  pointer-events: all;
}

.SelectorFecha__botones {
  display: flex;
}

.SelectorFecha__boton_anterior {
  color: #0288D1;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.SelectorFecha__boton_siguiente {
  color: #0288D1;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.SelectorFecha__limite {
  font-family: 'Open Sans';
  width: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .7em;
  letter-spacing: 1px;
}

.SelectorFecha__fecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, .9);
  padding: .25em 0;
  border-radius: 1em;
  margin-top: -4px;
  box-shadow: 0 .15em .5em rgba(0, 0, 0, .15);
  pointer-events: all;
  cursor: default;
  user-select: none;
  text-transform: uppercase;
}

.SelectorFecha__fecha_boton {
  pointer-events: all;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.SelectorFecha__texto_fecha {
  font-family: 'Open Sans', sans-serif;
  font-size: .7em;
  text-align: center;
  font-weight: bold;
  width: 14em;
  color: rgba(0, 0, 0, .9);
}

.SelectorFecha__texto_fecha::first-letter {
  text-transform: uppercase;
}

.SelectorFecha__contenedor_fecha--oculto {
  display: none;
}

@media (orientation: portrait) {
  
  .SelectorFecha__contenedor_fecha {
    display: none;
  }
}