.CodigoColor {
  position: absolute;
  left: 1.5em;
  top: 6.5em;
  color: rgba(255, 255, 255, .9);
  font-size: .7em;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  gap: .3em;
  text-transform: uppercase;
  max-width: 66vw;
}

.CodigoColor__espectro {
  width: 100%;
  height: .5em;
  opacity: .8;
  border-radius: .1em;
  display: flex;
}

.CodigoColor__fraccion {
  flex: 1;
  display: grid;
  height: 2em;
  gap: .2em;
}

.CodigoColor__fraccion_color {
  opacity: .8;
}

.CodigoColor__fraccion_color:hover {
  box-sizing: content-box;
  margin-top: -2px;
  border: 1px solid black;
}

.CodigoColor__fraccion_limite {
  flex: 2;
}

.CodigoColor__titulo {
  font-size: 2em;
  opacity: .85;
}

.CodigoColor__fecha {
  font-size: 1.5em;
  margin-bottom: .3em;
  font-weight: bold;
  opacity: .85;
}

@media (orientation: portrait) {
  .CodigoColor {
    top: 9em;
  }
}