.Ayuda {
  position: absolute;
  color: rgba(255, 255, 255, .95);
  background-color: rgba(0, 0, 0, .75);
  text-transform: none;
  max-width: 30em;
  right: 1em;
  top: 4em;
  border-radius: .5em;
  padding: 0em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 .1em .2em rgba(0, 0, 0, .15);
  animation: aparece-ayuda .25s ease-in-out both;
  z-index: 5;
}

.Ayuda__contenedor {
  font-size: .8em;
  line-height: 1.25;
  display: grid;
  gap: .5em;
  padding: 0 1em 1.5em 1em;
}

.Ayuda__boton_cerrar {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  padding: .25em 1em .25em 0;
  cursor: pointer;
  color: rgba(255, 255, 255, .95);
}

@keyframes aparece-ayuda {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}