.AppUCI {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: aparece-elemento-graficos-simples .25s .55s ease-in-out both;
}

.AppUCI__contenedor_mapa {
  flex: 1;
  display: flex;
  width: 100%;
}

.AppUCI__explicacion_comunas_ss {
  margin-top: 1em;
  height: 5em;
  font-size: .8em;
  width: 75%;
  line-height: 1.5;
  text-align: center;
}

.AppUCI__porcentaje_en_mapa {
  margin-left: -50%;
  margin-top: -.5em;
  font-size: .6em;
  font-weight: bold;
  pointer-events: none;
}

@media (orientation: portrait) {
  .AppUCI {
    display: none;
  }
}