.RankingComunas {
  position: absolute;
  z-index: 6;
  background-color: rgba(0, 0, 0, .55);
  right: 1em;
  top: 4em;
  height: calc(1.25em * 10 + 1.5em);
  opacity: 1;
  box-shadow: 0 .25em .25em rgba(0, 0, 0, .15);
  animation: aparece-ranking .5s ease-in-out .25s both;
  overflow: hidden;
}

.RankingComunas--expandido {
  right: 0;
  top: 2.15em;
  height: calc(100vh - 3.75em - 15em);
  overflow-y: scroll;
  overflow-x: hidden;
}

.RankingComunas__titulo {
  font-size: 1em;
  height: 1.5em;
  color: white;
  display: grid;
  justify-items: start;
  min-width: 16em;
  grid-template-columns: 10em 6em;
}

.RankingComunas--expandido .RankingComunas__titulo {
  min-width: 28em;
  grid-template-columns: 10em 6em 6em 6em 6em;
}

.RankingComunas--expandido .RankingComunas__comuna {
  grid-template-columns: 10em 6em 6em 6em 6em;
}

.RankingComunas__boton_detalle {
  background-color: transparent;
  color: rgba(255, 255, 255, .8);
  border: none;
  cursor: pointer;
  font-size: .7em;
  display: flex;
  align-items: center;
}

.RankingComunas__boton_mostrar_mini_graficos {
  background-color: transparent;
  color: rgba(255, 255, 255, .8);
  border: none;
  cursor: pointer;
  font-size: .7em;
  display: flex;
  align-items: center;
}

.RankingComunas--expandido .RankingComunas__boton_detalle {
  color: #0288D1;
}

.RankingComunas__icono_ordenar {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.RankingComunas__contenido_encabezado {
  font-size: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 12em;
  padding-right: 1.75em;
  color: rgba(255, 255, 255, .85);
  cursor: help;
}

.RankingComunas__contenido_encabezado {
  display: none;
}

.RankingComunas__contenido_encabezado:nth-child(2),
.RankingComunas__contenido_encabezado:first-child {
  display: flex;
}

.RankingComunas--expandido .RankingComunas__contenido_encabezado {
  display: flex;
  justify-content: space-between;
}

.RankingComunas .RankingComunas__casos_comuna {
  display: none;
}

.RankingComunas__casos_comuna:nth-child(2),
.RankingComunas__casos_comuna:first-child {
  display: flex;
}

.RankingComunas--expandido .RankingComunas__casos_comuna {
  display: flex;
  justify-content: space-between;
}

.RankingComunas__comuna {
  position: absolute;
  display: grid;
  justify-items: start;
  grid-template-columns: 10em 6em;
  height: 1.25em;
  transition: all .5s ease-out;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  filter: brightness(80%);
  padding-right: 1em;
}

.RankingComunas__comuna:hover {
  filter: brightness(115%);
}

.RankingComunas__comuna--seleccionada {
  filter: brightness(95%);
}

.RankingComunas__nombre_comuna {
  font-size: .7em;
  padding: .2em;
  padding-left: .5em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.RankingComunas__casos_comuna {
  font-size: .8em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 6em;
}

.RankingComunas__botones {
  display: flex;
  align-items: center;
}

@media (orientation: portrait) {
  .RankingComunas {
    height: calc(1.25em * 5 + 1em);
    bottom: 19em;
    top: auto;
    right: auto;
    left: .75em;
    display: none;
  }
}

@keyframes aparece-ranking {
  0% {
    opacity: 0;
    transform: translateY(-.5em);
  }
  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}