.SeccionInferior {
  height: 16em;
  background-color: #212121;
  color: rgba(255, 255, 255, .9);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SeccionInferior__superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SeccionInferior__inferior {
  display: flex;
  flex: 1;
  padding-bottom: 1.5em;
}

@media (orientation: portrait) {

  .SeccionInferior {
    overflow-y: scroll;
  }

  .SeccionInferior__inferior {
    padding-left: 1.5em;
    padding-right: 1.5em;
    flex-direction: column;
    align-items: center;
  }
  
}
