.SeccionInferior {
  height: 15em;
  background-color: #212121;
  padding-right: 2.8em;
  color: rgba(255, 255, 255, .9);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 9em;
}

.SeccionInferior__contenedor_region {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SeccionInferior__region {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8em;
  padding: 1em;
}

.SeccionInferior__grafico {
  flex: 1;
  padding: 0 0 1em 0;
}

.SeccionInferior__breadcrumb {
  display: flex;
  align-items: center;
}

.SeccionInferior__breadcrumb_link {
  border-bottom: .2em solid rgba(255, 255, 255, .5);
  margin-bottom: -.2em;
}

.SeccionInferior__breadcrumb_separador {
  margin: 0 .3em;
}

