.SeccionInferior {
  height: 16em;
  background-color: #212121;
  color: rgba(255, 255, 255, .9);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SeccionInferior__superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SeccionInferior__inferior {
  display: flex;
  flex: 1;
  padding-bottom: 1.5em;
}

.SeccionInferior__opciones {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-right: 1em;
}

.SeccionInferior__opcion {
  cursor: pointer;
  color: white;
  transition: all .25s ease-in-out;
  background-color: transparent;
  border: none;
  font-size: 1.15em;
  opacity: .8;
  display: flex;
  align-items: center;
}

.SeccionInferior__opcion:hover {
  opacity: 1;
}

.SeccionInferior__opcion--activa {
  color: #02A3FB;
  filter: drop-shadow(0 0 .35em #02A3FB);
  opacity: 1;
}

@media (orientation: portrait) {

  .SeccionInferior {
    overflow-y: scroll;
  }

  .SeccionInferior__inferior {
    padding-left: .5em;
    padding-right: .5em;
    flex-direction: column;
    align-items: center;
  }

  .SeccionInferior__opciones {
    display: none;
  }
  
}
