.PopupRegion {
  display: grid;
  justify-items: center;
  gap: .25em;
}

.PopupRegion__titulo {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
}

.PopupRegion__cuadro {
  color: rgba(0, 0, 0, .9);
  padding: .25em 0 0em 0;
  border-radius: .25em;
  display: grid;
  grid-template-columns: auto auto;
  gap: .75em;
  align-items: center;
}

.PopupRegion__casos {
  width: 3em;
  height: 2em;
  border-radius: .15em;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #212121;
  font-size: 1.15em;
  transition: all .15s ease-in-out;
}

.PopupRegion__descripcion {
  font-size: .75em;
  line-height: 1.15;
}
