.PopupRegion {
  opacity: 1;
  z-index: 3;
}

.PopupRegion__contenido {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: .25em;
}

.PopupRegion__titulo {
  font-size: .65em;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.PopupRegion__cuadro {
  color: rgba(255, 255, 255, .9);
  text-shadow: .1em .1em .025em rgba(0, 0, 0, .25);
  display: flex;
  align-items: center;
}

.PopupRegion__casos {
  border-radius: .15em;
  padding: .35em .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: .75em;
  margin-left: .5em;
  transition: all .15s ease-in-out;
  font-weight: bold;
}

@media (orientation: portrait) {
  .PopupRegion {
    display: none;
  }
}
