.AppGraficosSimples {
  background-color: white;
  overflow: auto;
  padding-bottom: 2em;
}

.AppGraficosSimples__contenedor {
  display: flex;
  flex-direction: column;
  padding: 1em 0 0 1em;
  width: 100%;
}

.AppGraficosSimples__navegacion {
  padding: 0 1em;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
}

.AppGraficosSimples__link_navegacion {
  transform: translateY(2px);
  font-size: .65em;
  padding: .5em 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, .35);
  transition: color .25s ease-out;
}

.AppGraficosSimples__link_navegacion:hover,
.AppGraficosSimples__link_navegacion--activo {
  color: rgba(0, 0, 0, .75);
}

.AppGraficosSimples__link_navegacion--activo {
  transform: translateY(2px);
  border-left: 1px solid rgba(0, 0, 0, .3);
  border-right: 1px solid rgba(0, 0, 0, .3);
  border-top: 1px solid rgba(0, 0, 0, .3);
  border-bottom: 2px solid white;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  background-color: white;
}

.AppGraficosSimples__label_selector {
  display: grid;
  gap: .25em;
  max-width: 40%;
  font-size: .8em;
  animation: aparece-elemento-graficos-simples .25s ease-in-out both;
}

.AppGraficosSimples__nombre_comuna {
  cursor: default;
  font-weight: bold;
  color: #6D6D6D;
  margin-top: 1em;
  font-size: 1.4em;
  animation: aparece-elemento-graficos-simples .25s .25s ease-in-out both;
  display: flex;
}

.AppGraficosSimples__selector {
  font-size: 1.2em;
  font-family: 'Open Sans';
  border-radius: .25em;
  padding: .25em;
}

.AppGraficosSimples__casos_totales {
  color: #AAAAAA;
  margin-top: .8em;
  font-size: .9em;
  cursor: help;
  animation: aparece-elemento-graficos-simples .25s .25s ease-in-out both;
}

.AppGraficosSimples__contenedor_grafico {
  width: 45em;
  height: 20em;
  margin-bottom: 2em;
  animation: aparece-elemento-graficos-simples .25s .35s ease-in-out both;
}

.AppGraficosSimples__contenedor_encabezado {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  align-items: flex-end;
}

.AppGraficosSimples__contenedor_encabezado_derecha {
  text-align: right;
  font-size: .8em;
  font-weight: bold;
  line-height: 1.15;
}

.AppGraficosSimples__aviso {
  font-style: italic;
  margin-top: 1em;
  font-size: .8em;
}

.AppGraficosSimples__ver_mapa button {
  background-color: #0288D1;
  color: white;
  cursor: pointer;
  width: 20em;
  cursor: pointer;
  border: none;
  color: rgba(255, 255, 255, .9);
  background-color: #0288D1;
  padding: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .65em;
  box-shadow: 0 .25em .25em rgba(0, 0, 0, .25);
  letter-spacing: .5px;
  transition: all .25s ease-in-out;
  z-index: 5;
  animation: aparece-boton-molesto .25s ease-in-out both;
  user-select: none;
  pointer-events: all;
}

@media (orientation: portrait) {
  .AppGraficosSimples__contenedor {
    max-width: 100vw;
    overflow: scroll;
  }
}

@keyframes aparece-elemento-graficos-simples {
  0% {
    transform: translateY(-.25em);
    opacity: 0;
  }
  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}