.AppGraficosSimples {
  background-color: white;
}

.AppGraficosSimples__contenedor {
  display: flex;
  flex-direction: column;
  padding: 1em 0 0 1em;
  width: 45em;
}

.AppGraficosSimples__label_selector {
  display: grid;
  gap: .25em;
  max-width: 25%;
}

.AppGraficosSimples__nombre_comuna {
  font-weight: bold;
  color: #6D6D6D;
  margin-top: 1em;
  font-size: 1.4em;
}

.AppGraficosSimples__casos_totales {
  color: #AAAAAA;
  margin-top: 1em;
  font-size: .9em;
}

.AppGraficosSimples__contenedor_grafico {
  width: 45em;
  height: 20em;
  margin-bottom: 2em;
}

.AppGraficosSimples__contenedor_encabezado {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  align-items: flex-end;
}

.AppGraficosSimples__contenedor_encabezado_derecha {
  text-align: right;
  font-size: .8em;
  font-weight: bold;
  line-height: 1.15;
}

@media (orientation: portrait) {
  .AppGraficosSimples__contenedor {
    max-width: 100vw;
    overflow: scroll;
  }
}