.Header {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: white;
  font-family: 'Raleway', sans-serif;
  z-index: 2;
  position: fixed;
  pointer-events: none;
}

.Header__titulo {
  width: 14em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  border-bottom-right-radius: .5em;
  font-size: 1em;
  pointer-events: all;
  text-decoration: none;
}
