.Header {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: white;
  font-family: 'Raleway', sans-serif;
  z-index: 2;
  position: fixed;
  pointer-events: none;
}

.Header__titulo {
  width: 14em;
  display: flex;
  align-items: center;
  padding-left: 1em;
  background-color: #212121;
  border-bottom-right-radius: .5em;
  font-size: 1em;
  pointer-events: all;
  text-decoration: none;
  align-items: center;
  line-height: 1.1;
}

.Header__logo {
  height: 1.9em;
  margin-right: .5em;
  opacity: .9;
}

@media (orientation: portrait) {
  .Header {
    flex-direction: column;
    align-items: center;
    height: 8em;
  }

  .Header__titulo {
    border-bottom-right-radius: 0;
    width: 100%;
    padding: .75em 0 .25em 0;
  }
}