.Mapa {
  flex: 1;
}

.Mapa__actualizacion {
  position: absolute;
  right: 1em;
  bottom: 2em;
  z-index: 4;
  animation: aparece-actualizacion 1s ease-in-out 1.5s both;
}

.Mapa__actualizacion_contenido {
  font-size: .75em;
  color: rgba(255, 255, 255, .85);
  line-height: 1.15;
  text-align: right;
}

.Contacto {
  text-decoration: underline;
}

@keyframes aparece-actualizacion {
  0% {
    opacity: 0;
    transform: translateY(.5em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (orientation: portrait) {

  .Mapa__actualizacion {
    bottom: .75em;
    left: .75em;
    right: auto;
  }

  .Mapa__actualizacion_contenido {
    line-height: 1.15;
    text-align: left;
    font-size: .5em;
  }
}