.Mapa {
  flex: 1;
}

.Mapa__actualizacion {
  position: absolute;
  right: 1em;
  bottom: 2em;
  z-index: 4;
}

.Mapa__actualizacion_contenido {
  font-size: .6em;
  color: rgba(255, 255, 255, .75);
  line-height: 1.5;
  text-align: right;
}