.GraficosVMI__contenedor_selector {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.GraficosVMI__selector {
  font-size: 1em;
  font-family: 'Open Sans';
  border-radius: .25em;
  padding: .25em;
  text-transform: capitalize;
}

.GraficosVMI__contenedor_grafico {
  width: 45em;
  height: 20em;
}