.AppMapaCasos {
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

.AppMapaCasos__titulo {
  position: absolute;
  z-index: 2;
  color: rgba(255, 255, 255, .9);
  padding: .5em;
  font-size: 1em;
  background-color: #B71C1C;
  width: 100%;
  font-weight: bold;
  height: 2em;
}

.AppMapaCasos__lateral {
  position: absolute;
  background-color: transparent;
  width: 20vw;
  padding: 1em;
  border-right: 1px solid black;
}

.AppMapaCasos__boton_doble {
  position: absolute;
  right: .5em;
  top: .5em;
  z-index: 2;
}