.AppMapaCasos {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.AppMapaCasos__barra {
  background-color: #B71C1C;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 2em;
  padding: 0 .5em;
  align-items: center;
}

.AppMapaCasos__titulo {
  z-index: 2;
  color: rgba(255, 255, 255, .9);
  font-size: 1em;
  font-weight: bold;
}

.AppMapaCasos__botones {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  gap: .35em;
}

.AppMapaCasos__boton_doble {
  right: .5em;
  top: .5em;
  z-index: 2;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, .9);
  cursor: pointer;
  font-size: 1em;
  display: grid;
}

.AppMapaCasos__mapas {
  display: flex;
}

@media (orientation: portrait) {
  .AppMapaCasos__botones {
    display: none;
  }
}