.GraficosSimples {
  display: flex;
  flex-direction: column;
  width: 45em;
}

.AppGraficosSimples__boton_agregar_comuna {
  display: none;
  margin-left: .5em;
}

.AppGraficosSimples__nombre_comuna:hover .AppGraficosSimples__boton_agregar_comuna {
  display: none;
  cursor: pointer;
}

.GraficosSimples__contenedor_selectores {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GraficosSimple__nombre_comuna_extra:hover {
  text-decoration: line-through;
}

.GraficosSimples__botones {
  display: flex;
}

.GraficosSimples__ver_mapa {
  display: flex;
  align-items: center;
}

.GraficosSimples__icono_ver_mapa {
  margin-left: .5em;
}

.GraficosSimples__ver_mapa:hover {
  text-decoration: underline;
}

.GraficosSimples__fuente {
  display: block;
  margin-bottom: .5em;
}

@media (orientation: portrait) {
  .GraficosSimples__botones {
    flex-direction: column;
  }
}